.timer-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.timer-body {
    border: 2px black solid;
    border-radius: 20px;
    padding: 20px 50px;
    max-width: 1200px;
    display: flex;
    gap: 5px;
    background-color: #f0f0f0;
}

.digit, .timer-body input {
    font-family: Poppins, sans-serif;
    padding: 20px;
    border: 2px black solid;
    border-radius: 20px;
    height: 125px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    background-color: aliceblue;
}

/* Overlay to stop the flash */
.flash-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 999;
    background-color: rgba(255, 0, 0, 0.3); /* Semi-transparent red overlay */
    cursor: pointer;
}

.flash-overlay:hover {
    background-color: rgb(200, 0, 0, 0.5); /* Darker red overlay on hover */
}

/* Initially hide the <p> */
.flash-overlay p {
    font-family: Poppins, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    visibility: hidden; /* Make the text invisible by default */
    opacity: 0; /* Fully transparent */
    transition: opacity 0.1s ease, visibility 0.1s ease; /* Smooth transition */
}

/* Show <p> on hover */
.flash-overlay:hover p {
    visibility: visible; /* Make the text visible */
    opacity: 1; /* Fully opaque */
}


/* Body flash when countdown hits 0 */
.flash-red {
    animation: flash-indefinite 1s infinite;
}
  
@keyframes flash-indefinite {
    0% {
        background-color: red;
    }
    50% {
        background-color: #f7bac6;
    }
    100% {
        background-color: red;
    }
}